In [2]:
import pandas as pd 
import numpy as np

In [3]:
### Load label
labels = pd.read_csv("../data/label.csv")

### load data
data = pd.read_csv("../data/sensor_log.csv")

In [4]:
blockid_train = labels['block_id'].values

In [5]:
_train = data['block_id'].isin(blockid_train)
data_train = data[_train]
data_test = data[~_train]

In [18]:
data_test.describe()

,block_id,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09
count,135020.000000,135020.000000,135020.000000,135020.000000,135020.000000,135020.000000,135020.000000,135020.000000,135020.000000,135020.000000,135020.000000
mean,9716.261887,2.460180,48.183664,51.767277,44.184143,633.081473,75.758804,13.956792,16.218471,15.500245,15.099580
std,5556.307170,0.056556,2.291089,1.613581,1.592605,11.711798,6.984271,0.682740,0.392889,0.374884,0.231290
min,0.000000,0.000000,37.065970,42.317710,34.982640,3.104745,0.000000,0.014468,0.028935,0.028935,0.007234
25%,4972.000000,2.448669,46.527770,50.781250,43.055553,628.935200,71.065187,13.411460,16.001160,15.227140,15.053530
50%,9711.500000,2.459491,48.263885,51.866320,44.357635,633.680500,75.730740,13.686340,16.167530,15.509260,15.082470
75%,14333.000000,2.500810,49.739580,52.951385,45.355900,638.194500,80.298382,14.576100,16.608800,15.697340,15.118630
max,19282.000000,2.562369,56.510410,56.032990,50.204142,689.204341,113.435420,15.957750,17.502495,17.259840,16.399020

In [6]:
data_train.describe()

,block_id,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09
count,57810.000000,57810.000000,57810.000000,57810.000000,57810.000000,57810.000000,57810.000000,57810.000000,57810.000000,57810.000000,57810.000000
mean,9465.219685,2.456694,48.083454,51.844648,44.325667,632.846089,75.649145,13.911208,16.142101,15.464119,15.106295
std,5586.456770,0.058112,1.754239,1.535984,1.440665,10.536220,7.810044,0.611180,0.307151,0.327212,0.211827
min,144.000000,0.000000,38.368050,42.838540,35.807290,200.558441,0.000000,3.009259,14.322920,14.351850,14.033560
25%,4479.000000,2.448669,47.135410,50.781250,43.446180,629.050900,70.137290,13.433160,15.957750,15.183740,15.053530
50%,9260.000000,2.455556,48.220490,51.822910,44.444443,633.796300,75.800060,13.686340,16.167530,15.494790,15.082470
75%,14683.000000,2.500810,49.262150,52.907990,45.355900,638.310200,80.870972,14.503760,16.247110,15.697340,15.118630
max,18709.000000,2.585285,60.237007,55.425350,47.916664,690.462452,99.325360,15.964990,17.495140,18.695345,16.254340

In [30]:
data_train[data_train['sensor_01'] > 55]

,timestamp,block_id,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09
6774,2018-04-05 18:04:00,677,2.444734,58.792709,52.60416,44.35764,630.3241,76.35315,13.38976,16.16753,15.56713,15.08247
6775,2018-04-05 18:05:00,677,2.459491,60.237007,52.73437,44.44444,638.1945,78.20327,13.28848,16.16753,15.26331,15.11863

In [36]:
labels[labels['block_id'] == 17272]

      block_id  anomalous
5346     17272          0

In [41]:
block_ids = []

In [42]:
block_ids += np.unique(data_test[data_test['sensor_00'] < 2.0]['block_id'].values).tolist()
block_ids += np.unique(data_test[data_test['sensor_04'] < 550]['block_id'].values).tolist()
block_ids += np.unique(data_test[data_test['sensor_05'] < 50]['block_id'].values).tolist()
block_ids += np.unique(data_test[data_test['sensor_06'] < 11]['block_id'].values).tolist()
block_ids += np.unique(data_test[data_test['sensor_07'] < 14]['block_id'].values).tolist()
block_ids += np.unique(data_test[data_test['sensor_09'] < 14]['block_id'].values).tolist()

In [44]:
result = list(set(block_ids))

In [45]:
import json 

with open('../analysis/block_id_anmolous.json', 'w') as f:
    json.dump(result, f)