In [1]:
import pandas as pd

In [2]:
data_train = pd.read_csv('../analysis/train.csv')
label_train = pd.read_csv('../analysis/train_label.csv')

In [3]:
data_train.head(2)

,timestamp,block_id,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09
0,2018-04-02 00:00:00,144,2.459491,45.83333,52.34375,44.791664,639.5833,78.57581,13.09317,16.16753,15.49479,15.11863
1,2018-04-02 00:01:00,144,2.459491,45.83333,52.34375,44.791664,639.5833,78.57581,13.09317,16.16753,15.49479,15.11863

In [4]:
label_train.head(2)

   block_id  anomalous
0       144          0
1       145          0

In [14]:
df_label_anomalous_1 = label_train[label_train["anomalous"] == 1]

In [15]:
block_id_anomalous_1 = df_label_anomalous_1['block_id'].values

In [16]:
df_anomalous_1 = data_train[data_train['block_id'].isin(block_id_anomalous_1)]

In [17]:
df_anomalous_1

,timestamp,block_id,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09
400,2018-04-02 08:50:00,197,2.449653,48.350690,51.475690,43.446178,638.078700,83.16328,13.62847,16.21094,15.84925,15.08247
401,2018-04-02 08:51:00,197,2.464410,48.480900,51.519100,43.446180,642.939800,82.67394,13.59230,16.21094,15.84925,15.08247
402,2018-04-02 08:52:00,197,2.448669,48.437500,51.475690,43.489580,652.893600,81.27738,13.71528,16.16753,15.73351,15.05353
403,2018-04-02 08:53:00,197,2.464410,48.394100,51.475690,43.489582,641.666600,82.29955,13.64294,16.16753,15.73351,15.08247
404,2018-04-02 08:54:00,197,2.448669,48.263890,51.605900,43.489582,620.370400,81.59356,13.62847,16.13136,15.69734,15.08247
...,...,...,...,...,...,...,...,...,...,...,...,...
46025,2018-08-27 18:35:00,18680,2.400463,48.220486,50.954861,43.012150,631.365723,71.09527,14.60503,16.65220,15.65393,15.08247
46026,2018-08-27 18:36:00,18680,2.404398,48.220486,50.954861,43.012150,635.879639,71.19454,14.60503,16.70284,15.73351,15.08247
46027,2018-08-27 18:37:00,18680,2.406366,48.220490,50.954861,43.012150,630.786987,70.59648,14.50376,16.65220,15.56713,15.05353
46028,2018-08-27 18:38:00,18680,2.402431,48.177080,50.954861,43.012150,642.476807,71.43798,14.64844,16.60880,15.69734,15.05353
46029,2018-08-27 18:39:00,18680,2.404398,48.177082,50.954861,43.012150,635.300903,72.45947,14.57610,16.65220,15.81308,15.08247

In [20]:
df_upsample = pd.concat([df_anomalous_1]*10, axis=0)
df_label_upsample = pd.concat([df_label_anomalous_1]*10, axis=0)

In [24]:
data_train_upsample = pd.concat([data_train, df_upsample], axis=0)
data_train_label_upsample = pd.concat([label_train, df_label_upsample])

In [25]:
len(data_train_upsample), len(data_train_label_upsample)

(59340, 5934)

In [26]:
data_train_upsample.to_csv('../analysis/train_upsample.csv', index=False)
data_train_label_upsample.to_csv('../analysis/train_upsample_label.csv', index=False)